<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nz.pbomb.xposed.spoofmydevice">

    <!-- Mandatory permissions to receive ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Recommended permissions to receive brand‐centric ads with interactive functionality for better eCPMs -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Allows users to spoof their device settings for user-selected apps." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name=".preferences.PreferenceProvider"
            android:authorities="nz.pbomb.xposed.spoofmydevice.provider.preferences"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />


        <!-- InMobi Ads SDK Setup -->
        <!--receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.inmobi.share.id"/>
            </intent-filter>
        </receiver>


        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />


        <!service
            android:enabled="true"
            android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager" /-->

        <!-- Activities -->
        <activity
            android:name=".activities.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AppSelectActivity"
            android:label="@string/AppSelectActivity_title"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceSelectActivity"
            android:label="@string/DeviceSelectActivity_title"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FeatureSelectActivity"
            android:label="@string/FeatureSelectActivity_title"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ContactActivity"
            android:label="@string/ContactActivity_title"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/AboutActivity_title"
            android:parentActivityName=".activities.MainActivity"
            tools:ignore="UnusedAttribute">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>